$blue: #527599;
$blue-light: #6f9dc5;
$blue-very-light: lighten($blue-light, 34%);
$red: #ff0041;
$grey: #818a9a;
$grey-light: #a9a9a9;
$vk-blue: #2a5885;
$green: #4bb34b;

.red {
  background: $red;
}

.green {
  background: $green;
}

.blue {
  background: $blue;
}

.grey {
  background: $grey;
}
